*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/

.debug .border{
    border: 1px solid red;
}


/*css*/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.element {
    padding: 3px;
    display: inline-block;
    background-color: darkslategray;
    color: white;
    border-radius: 10px;
    margin: 5px;
}