*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*debug*/

.debug .border{
    border: 1px solid red;
}


/*css*/


/*header*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    
}

.element {
    padding: 5px;
    display: inline-block;
    background-color: darkslategray;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin: 5px;
}

/*main*/

.wrapper {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: black;
}

.container {
    width: 80%;
    height: 90%;
    margin:  auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
    padding-top: 50px;
}

.main_item {
    width: 170px;
    height: 130px;
    margin: 6px 3px;
    position: relative;
    font-size: 13px;
}

.utente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
}

.main_item img {
    width: 170px;
    height: 130px;
    object-position: center;
    object-fit: cover;
}




/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: darkslategrey;
}

.item {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.item ul {
    display: inline-block;
    list-style: none;
    
}

.open {
    font-size: 12px;
}
.icon {
    font-size: 25px;
    margin-bottom: 3px;
}
.icon_text {
    font-size: 11px;
}

.white {
    color: white;
}

#ft_item_dx {
    color: red;
    background-color: grey;
    padding: 0 10px;
}

.item li {
    padding: 10px;
}

#green{
    color: green;
}
