*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}




/*css*/


/*header*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 35px;
}

.element {
    padding: 5px;
    display: inline-block;
    background-color: darkslategray;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin: 5px;
}

/*main*/

.wrapper {
    width: 100%;
    height: calc(100vh - (90px + 35px)); /*viewport - (altezza dell'header + altezza del footer)*/
    background-color: black;
    
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
    padding-top: 50px;
}

/*non riuscivo a togliere la scrollbar 
e ho trovato questa soluzione 
ma so che non è compatibile 
con tutti i browser*/

.container::-webkit-scrollbar {
    display: none;
}

.main_item {
    width: 250px;
    height: 200px;
    margin: 10px 5px;
    position: relative;
    font-size: 13px;
}

.utente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
}

.main_item img {
    width: 250px;
    height: 200px;
    object-position: center;
    object-fit: cover;
}




/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: darkslategrey;
}

.item {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.open {
    font-size: 12px;
}
.icon {
    font-size: 25px;
    margin-bottom: 3px;
}
.icon_text {
    font-size: 11px;
}

.white {
    color: white;
}

#ft_item_dx {
    color: red;
    background-color: grey;
    padding: 0 10px;
}



#green{
    color: green;
}

.flex_cont_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    text-decoration: none;
}

.flex_item_box_big {
    padding: 0 20px;
    text-align: center;
}

.flex_item_box_small{
    width: 20px;
    text-align: center;
    color: white;
}

.ft_item_ctr .flex_item_box_big {
    width: 120px;
}
.ft_item_sx .flex_item_box_big {
    width: 70px;
}